<html ng-app="helper">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.5/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="HelperController as helpApp">
      <form ng-submit="getResults()">
        <div class="input-field">
          <input type="text" id="sub" placeholder="pcmasterrace" ng-model="subreddit">
          <label for="sub">Subreddit:</label>
        </div>
      </form>
      <div class="row center">
        <button class="btn waves-effect waves-light" type="submit" ng-click="getResults()" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="row">
        <div class="col s12 m6 offset-s3" ng-hide="!error">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Whoops!</span>
              <p>Something went wrong while we were working! Most likely, the subreddit doesn't exsist! Please email the creator and yell at him! Error code: <b>{{status}}</b></p>
            </div>
            <div class="card-action">
              <a href="mailto:h313@users.noreply.github.com">Email the guy!</a>
              <a href="https://www.reddit.com/r/{{subreddit}}">Check the subreddit!</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 offset-s3" ng-hide="!gotDataYet">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">I have data!</span>
                <p>Best time to post: <b>Between {{bestTime}}:00 and {{bestTime + 1}}:00 UTC.</b> Posts within this timeframe have scored <b>{{bestScore}}</b> upvotes in total.</p>
            </div>
            <div class="card-action">
              <a href="mailto:h313@users.noreply.github.com">Email the guy!</a>
              <a href="https://www.reddit.com/r/{{subreddit}}">Check the subreddit!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
